<h1><%= @region %> region</h1>
<table border="1" cellpadding="2">
  <tr>
    <th>
      Name
    </th>
    <th>
      Id
    </th>
    <th>
      Status
    </th>
  </tr>
<% @instances.each do |instance| %>
  <tr>
    <td><%= instance[:name] %></td>
    <td><%= instance[:id] %></td>
    <td><%= instance[:status] %></td>
  </tr>
<% end %>
</table>
<div>
<%= link_to "Regions", "/aws/regions" %>
</div>
